* {
    margin: 0;
    box-sizing: border-box;
}

:root {
  /* Fondo general de la página */
  --bg-page: #7b9468;

  /* Barra superior principal (Navegación / Marcadores) */
  --topbar-bg-dark: #224254;
  --topbar-bg-light: #2c546b;

  /* Modulo del contador / Cronómetro */
  --counter-bg: #53250e;
  --counter-number: #f29c38;

  /* Tablero / Grilla principal */
  --board-bg: #63aebb;

  /* Tarjetas del juego (Fondo metálico / Sombras) */
  --card-bg-start: #d3d9da;
  --card-bg-end: #9a9e9f;
  --card-glow: rgba(255, 230, 180, 0.4);

  /* Texto y botones de la barra superior */
  --btn-bg: #333c3c;
  --text-gold: #e2c179;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #EAF2F8;
    margin: 0;
    padding: 2rem;
}

.app {
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: "encabezado" 
                            "seccion-jugadores"
                            "seccion-tablero";
    justify-content: center;
    width: 100%;
    min-height: 100vh;


}

.encabezado {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 8rem;
    grid-area: encabezado;
    background:linear-gradient(135deg, #0D204A 0%, #08152E 100%);
}

.contenedor-titulo{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    
}

.titulo-juego,
.subtitulo-juego{
    font-family:Arial, sans-serif;
    color: white;
}
.titulo-juego{
    font-size: 5rem;
}
.subtitulo-juego{
    font-size: 1.5rem;
}


.contenedor-adorno{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80%;
    width: 12rem;
    
    
}

.cartita {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 5rem;
    height: 6rem;
    background-color: #4B7BEC;
    border: 0.5rem solid white;
    border-radius: 0.5rem;
    transition: transform 0.3s;
}

.cartita img {
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.cartita1 {
    z-index: 1;
    left: 5rem;
    transform: rotate(15deg);
}


.cartita2 {
    z-index: 2;
    right: 5rem;
    transform: rotate(-15deg);
}

.cartita2:hover,
.cartita1:hover {
    z-index: 2;
    scale: 1.1;
}



.seccion-jugadores{
    grid-area: seccion-jugadores;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    
    
    
}

.contenedor-jugador2,
.contenedor-jugador1{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    height: auto;
    width: 40%;
    background-color: #EBF3FE;
    border-radius: 1rem;
    border: 0.15rem rgb(56, 108, 199) solid;
    margin: 1rem;
    padding: 2rem;
    
}


.icono-usuario {
    width: 5rem;
    height:5rem;;
    border-radius: 50%;
    background-color: #eaf4ff;  
}



.contenedor-jugador input{
    width: 60%;
    height: 2rem;
    font-size: 1rem;
    

}

.contenedor-puntaje{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    border-radius: 0.5rem;
    height: 4rem;
    width: 8rem;
    background-color: #5681ae;

}

.contenedor-puntaje p,
.contenedor-puntaje span{
     font-size: 2rem;
     font-weight: 700;
     color: white;
}

.contenedor-input-jugador{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1rem;
    padding: 0.5rem;
    /* background-color: #9a9e9f; */
}
.btn-guardar {
  background-color: #335aca;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  
}
.contenedor-input-jugador input{
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    border: 0.1rem solid blue;
}

.contenedor-label-span{
    display: flex;
    gap: 1rem;
    padding: 0.4rem;
    width: auto;
    
    
    
}

.contenedor-label-span label,
.nombre-jugador2,
.nombre-jugador1 {
    display: flex;
    white-space: nowrap;
    font-size: 1.5rem;
    font-weight: 900;
    color: #113393;
    
}  


.seccion-tablero{
    grid-area: seccion-tablero;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "contenedor-botonera tablero reglas-juego";
    gap: 2rem;
    

}
.tablero,
.contenedor-botonera,
.reglas-juego{
        border: 0.15rem rgb(56, 108, 199) solid;
        border-radius: 1rem;
        box-shadow: 10px -5px 10px rgba(110, 86, 86, 0.3);
        background-color: #d7dce5;
}
.contenedor-botonera{
    
    grid-area: contenedor-botonera;

}



.reglas-juego {
    grid-area: reglas-juego;
}



.tablero {
    grid-area: tablero;
}


/* .contenedor-botonera{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 0.2rem;
    
    
}
.contenedor-reloj{
    display: flex;
    justify-content: center;
    background-color: var(--topbar-bg-light);
    height:  3rem;
}


.contenedor-reloj label{
    font-size: 2rem;
}
.reloj{
    font-size: 1rem; */

.tablero {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 1rem;
    padding: 1rem;
    height: 900px;
    width: 100%;
    /* background-color: #d7dce5;
    border-radius: 1rem ; */
}

.contenedor-marcador {
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 4rem;
    background-color: var(--topbar-bg-dark);
}




.cartas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    box-shadow: 15px 15px 10px rgba(110, 86, 86, 0.3);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.9s;
    border-radius: 1rem;
    cursor: pointer;

}

.frente:hover{
    transform: scale(0.95);
}

.frente,
.atras {
    position: absolute;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: 1s;
    border-radius: 1rem;
}

.mostrar {
    display: block;
}

.frente {
    
    transform: rotateY(0deg);
}

.atras {
    
    transform: rotateY(180deg);
}

.atras img,
.frente img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.girar {
    transform: rotateY(180deg);
    transition: 0.9000s;
}



.score {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 8rem;
    background-color: var(--btn-bg);
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}


.score label,
.puntaje {
    color: var(--text-gold);
    font-size: 1rem;
    font-weight: 900;
}

.puntaje {
    padding: 0.3rem;
}

.btn-reiniciar,
.btn-start {
    background-color: var(--btn-bg);
    color: var(--text-gold);
    padding: 1rem;
    border-radius: 1rem;
    font-weight: 900;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.4s;
}

.btn-reiniciar:hover,
.btn-start:hover {
    transform: scale(1.1);
}

.jugando {
    background-color: rgb(24, 32, 30);
}

.btn-usado {
    background-color: red;
}


@media (max-width: 1200px) {

    .contenedor-marcador {
        width: 100%;
        padding: 1rem;
        justify-content: space-around;
    }

    .tablero {
        grid-template-columns: repeat(4, 1fr);
        height: auto;
    }

    .cartas {
        width: 8rem;
        height: 8rem;
    }
  .frente,
    .atras {
        height: 100%;
        width: 100%;
    }


}

@media (max-width: 768px) {

    .contenedor-marcador {
        width: 100%;
        padding: 1rem;
        gap: 1rem;

    }

    .tablero {
        grid-template-columns: repeat(4, auto);
        gap: 1rem;
        padding: 0.8rem;
        height: auto;
        
        
    }

    .score {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7rem;
        
    }


    .score label {
        padding: 0.3rem;
        font-size: 0.8rem;
        width: 4.5rem;
    }




    .btn-reiniciar,
    .btn-start {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 4.5rem;
        height: 3rem;
        font-size: 0.8rem;
    }

    .cartas {
        width: 5rem;
        height: 5rem;
    }

    .frente,
    .atras {
        height: 100%;
        width: 100%;
    }




}