body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(124, 123, 122);
    height: 100vh;

}

.jugando{
    background-color: aquamarine;
}

.tablero{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    height: 900px;
    width: 1200px;
    background-color: aqua;
}

.contenedor-marcador {
    display: flex;
    justify-content: space-around;
    height: 3rem;
    background-color: rgb(176, 176, 187);
}



.cartas{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: antiquewhite;
    height: 200px;
    width: 200px;
   

}

.cartas img {
    display: none;
    width: 150px;
    height: 150px;
}

.cartas.mostrar img {
    display: block;
}


