body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(124, 123, 122);
    height: 100vh;

}


.tablero{
    display: grid;
    grid-template-columns: repeat(5, auto);
    position: relative;
    z-index: 5;
    gap: 2rem;
    padding: 2rem;
    height: 900px;
    width: 1200px;
    background-color: rgb(66, 215, 245);
}

.contenedor-marcador {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background-color: rgb(15, 15, 239);
}




.cartas{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    box-shadow: 15px 15px 10px rgba(110, 86, 86, 0.3);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.9s;
    border-radius: 1rem;
    
}

.frente, .atras {
    position: absolute;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: 1s;
    border-radius: 1rem;
}

.mostrar {
    display: block;
}

.frente {
    background-color: rgb(188, 118, 118);
    transform:  rotateY(0deg);
}

.atras{
    background-color: rgb(186, 151, 151);
    transform: rotateY(180deg);
}

.atras img {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;

}

.girar{
    transform: rotateY(180deg);
    transition: 0.9000s ;
}



.score {
    display: flex;
    align-items: center ;
    justify-content: center;
    height: 2.5rem;
    width: 8rem;
    background-color: rgb(116, 199, 208);
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    
}


.score label {
    color: white;
    font-size: 1rem;
    font-weight: 900;
}

.btn-reiniciar{
    background-color: rgb(76, 208, 76);
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    font-weight: 900;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.4s;
}

.btn-reiniciar:hover{
    transform: scale(1.1);
}

.jugando{
    background-color: rgb(145, 159, 155);
    transform: scale(1.2);
}
